
body{
    margin: 0;
}

.nav{
    position: fixed absolute;
    top: 0%;

    padding-left: 10%;
    padding-right: 10%;

    display: flex;

    width: 80%;
    height: 50px;

    background-color: lightgray;

    justify-content: space-between;
    align-items: center;



}

.encabezado{

    position: inherit;

    display: flex;
    flex-direction: column;

    height: 160px;
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    background-color: white;

    justify-content: center;
    align-items: center;


}

.encabezado .banners{


    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;
    color: red;

    justify-content: start;
    gap: 5%;

}

.encabezado .banners img{

    width: 300px;
    height: 100px;

}

.encabezado .categorias{

    width: 100%;

    display: flex;
    
    justify-content: center;

    gap: 2%;

    font-weight: bolder;
}

.encabezado .categorias .cajasCats{
    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}





.iconosyNavegacion{
    display: flex;
    gap: 15px;
    
}

.modulos{

    
    height: 25%;
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;


    justify-content: space-between;
    
    background-color: lightgray;

    

}

.modulos .imagenes{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;;
}

.modulos .imagenes .textoModulo{

    grid-column: 1;
    grid-row: 1;
    align-self: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}



.modulos .imagenes img{
    width: 300px;
    height: 160px;

    position: relative;
    justify-content: center;
    align-items: center;

    padding: 15px 15px 15px 15px;

}

#img1{
    grid-column: 1;
    grid-row: 1;
}

#img2{
    grid-column: 2;
    grid-row: 1;
}

#img3{
    grid-column: 3;
    grid-row: 1;
}

#img4{
    grid-column: 1;
    grid-row: 2;
}

#img5{
    grid-column: 2;
    grid-row: 2;
}

#img6{
    grid-column: 3;
    grid-row: 2;
}

.footing{

    display: flex;
    flex-direction: column;
    position: relative;

    height: 35%;
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    gap: 5%

}

.footing .links{

    display: flex;
    flex-direction: row;

}

.footing .links .categorias2{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-weight: bolder;
    
}

.footing .links .categorias2 .cajasCats{
    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footing .banners img{
    width: 300px;
    height: 100px;
}

.footing .contacto {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.footing .contacto .c1{

    display: flex;
    flex-direction: column;

    text-overflow: wrap;
    color: black;

}
.footing .contacto .c2{

    display: flex;
    flex-direction: column;
    
}

@keyframes rotar1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }